{% extends 'base.html' %}
{% block content %}
    <body>
        <h1> Wellcome back {{request.user}}</h>
        {%if perms.ModalsDateBase.add_post%}
        <a href="{% url 'create_post' %}"> Create post</a>
        {%endif%}
        <h1> This Page is {{post|length}} Posts</h1>
        {%for posts in post%}
        <h1>{{posts}}</h1>
        <h3>Author: {{posts.author.user}}</3>
        <h3> {{posts.time_post|date:'d M Y T H:i' }}
        <h4>  - {{posts.text_post|truncatechars:20}}
            {%if perms.ModalsDateBase.delete_post%}
            {%if posts.author.user == request.user%}
            <a href= {% url 'delete_post' posts.id%}>Delete post</a>
            {%endif%}
            {%endif%}
            {%if perms.ModalsDateBase.change_post%}
            {%if posts.author.user == request.user%}
            <a href= {% url 'update_post' posts.id%}>Update post</a>
            {%endif%}
            {%endif%}
        {%endfor%}
        <hr>
        {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
 
    {# Информация о текущей странице #}
    {{ page_obj.number }}
 
    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
 
    </body>
{% endblock %}