
{% block content %}

  <!-- Optionally, you can display the applied filters -->
  <form action='' method='post'>
  {% if filterset %}
    <h3>Applied Filters:</h3>
    {{ filterset.form.as_p }}
      {% csrf_token %} 
    <input type='submit' value='search'/>
  {% endif %}
    </form>

  <h2>Search Results</h2>
  {% for post in search %}
  <p>{{ post.title }}</p>
  <p>{{ post.text_post }}</p>
  <hr>
{% endfor %}

        <hr>
        {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
 
    {# Информация о текущей странице #}
    {{ page_obj.number }}
 
    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{%endblock content%}